
.icon-right-open:before { content: '\e809'; } /* '' */
.icon-mail:before { content: '\f100'; } /* '' */
.icon-cancel:before { content: '\f101'; } /* '' */
.icon-forward:before { content: '\f102'; } /* '' */
.icon-location:before { content: '\f103'; } /* '' */
.icon-phone:before { content: '\f104'; } /* '' */
.icon-down-dir:before { content: '\f105'; } /* '' */
.icon-up-dir:before { content: '\f106'; } /* '' */
.icon-left-open:before { content: '\f107'; } /* '' */
.icon-play:before { content: '\f108'; } /* '' */
.icon-pause:before { content: '\f109'; } /* '' */
.icon-check:before { content: '\f110'; } /* '' */
.icon-check-empty:before { content: '\f111'; } /* '' */
.icon-circle-empty:before { content: '\f112'; } /* '' */
.icon-dot-circled:before { content: '\f113'; } /* '' */
.icon-linkedin:before { content: '\f114'; } /* '' */
.icon-language:before { content: '\f115'; } /* '' */
.icon-attach:before { content: '\f116'; } /* '' */
.icon-download:before { content: '\f117'; } /* '' */