@font-face {
  font-family: 'tfo_icons';
  src: url('../font/tfo_icons.eot?66291623');
  src: url('../font/tfo_icons.eot?66291623#iefix') format('embedded-opentype'),
       url('../font/tfo_icons.woff2?66291623') format('woff2'),
       url('../font/tfo_icons.woff?66291623') format('woff'),
       url('../font/tfo_icons.ttf?66291623') format('truetype'),
       url('../font/tfo_icons.svg?66291623#tfo_icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'tfo_icons';
    src: url('../font/tfo_icons.svg?66291623#tfo_icons') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "tfo_icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-right-open:before { content: '\e809'; } /* '' */
.icon-mail:before { content: '\f100'; } /* '' */
.icon-cancel:before { content: '\f101'; } /* '' */
.icon-forward:before { content: '\f102'; } /* '' */
.icon-location:before { content: '\f103'; } /* '' */
.icon-phone:before { content: '\f104'; } /* '' */
.icon-down-dir:before { content: '\f105'; } /* '' */
.icon-up-dir:before { content: '\f106'; } /* '' */
.icon-left-open:before { content: '\f107'; } /* '' */
.icon-play:before { content: '\f108'; } /* '' */
.icon-pause:before { content: '\f109'; } /* '' */
.icon-check:before { content: '\f110'; } /* '' */
.icon-check-empty:before { content: '\f111'; } /* '' */
.icon-circle-empty:before { content: '\f112'; } /* '' */
.icon-dot-circled:before { content: '\f113'; } /* '' */
.icon-linkedin:before { content: '\f114'; } /* '' */
.icon-language:before { content: '\f115'; } /* '' */
.icon-attach:before { content: '\f116'; } /* '' */
.icon-download:before { content: '\f117'; } /* '' */