@font-face {
 font-family: 'FontAwesome';
  src: url('/wp-content/uploads/cornerstone_icons_files/fontello-810d4fa7.zip/fontello-810d4fa7/font/tfo_icons.eot?688186033');
  src: url('/wp-content/uploads/cornerstone_icons_files/fontello-810d4fa7.zip/fontello-810d4fa7/font/tfo_icons.eot?688186033#iefix') format('embedded-opentype'),
       url('/wp-content/uploads/cornerstone_icons_files/fontello-810d4fa7.zip/fontello-810d4fa7/font/tfo_icons.woff2?688186033') format('woff2'),
       url('/wp-content/uploads/cornerstone_icons_files/fontello-810d4fa7.zip/fontello-810d4fa7/font/tfo_icons.woff?688186033') format('woff'),
       url('/wp-content/uploads/cornerstone_icons_files/fontello-810d4fa7.zip/fontello-810d4fa7/font/tfo_icons.ttf?688186033') format('truetype'),
       url('/wp-content/uploads/cornerstone_icons_files/fontello-810d4fa7.zip/fontello-810d4fa7/font/tfo_icons.svg?688186033#tfo_icons') format('svg');
  font-weight: 900;
  font-style: normal;
}
.x-icon-tfo_icons-right-open:before { content: '\e809'; }
.cs-fa-tfo_icons-right-open:before { content: '\e809'; }
[data-cs-icon-id='tfo_icons-right-open'] { font-family: 'FontAwesome'; }
[data-cs-icon-id='tfo_icons-right-open'] svg { display: none; }
.cs-icons-inner li[title='tfo_icons-right-open']::before{ content: '\e809'; }
div[data-cs-icon-id='tfo_icons-right-open']::before{ content: '\e809'; margin: calc((32px / 2) - .5em); font-size: 18px;}
.x-icon-tfo_icons-mail:before { content: '\f100'; }
.cs-fa-tfo_icons-mail:before { content: '\f100'; }
[data-cs-icon-id='tfo_icons-mail'] { font-family: 'FontAwesome'; }
[data-cs-icon-id='tfo_icons-mail'] svg { display: none; }
.cs-icons-inner li[title='tfo_icons-mail']::before{ content: '\f100'; }
div[data-cs-icon-id='tfo_icons-mail']::before{ content: '\f100'; margin: calc((32px / 2) - .5em); font-size: 18px;}
.x-icon-tfo_icons-cancel:before { content: '\f101'; }
.cs-fa-tfo_icons-cancel:before { content: '\f101'; }
[data-cs-icon-id='tfo_icons-cancel'] { font-family: 'FontAwesome'; }
[data-cs-icon-id='tfo_icons-cancel'] svg { display: none; }
.cs-icons-inner li[title='tfo_icons-cancel']::before{ content: '\f101'; }
div[data-cs-icon-id='tfo_icons-cancel']::before{ content: '\f101'; margin: calc((32px / 2) - .5em); font-size: 18px;}
.x-icon-tfo_icons-forward:before { content: '\f102'; }
.cs-fa-tfo_icons-forward:before { content: '\f102'; }
[data-cs-icon-id='tfo_icons-forward'] { font-family: 'FontAwesome'; }
[data-cs-icon-id='tfo_icons-forward'] svg { display: none; }
.cs-icons-inner li[title='tfo_icons-forward']::before{ content: '\f102'; }
div[data-cs-icon-id='tfo_icons-forward']::before{ content: '\f102'; margin: calc((32px / 2) - .5em); font-size: 18px;}
.x-icon-tfo_icons-location:before { content: '\f103'; }
.cs-fa-tfo_icons-location:before { content: '\f103'; }
[data-cs-icon-id='tfo_icons-location'] { font-family: 'FontAwesome'; }
[data-cs-icon-id='tfo_icons-location'] svg { display: none; }
.cs-icons-inner li[title='tfo_icons-location']::before{ content: '\f103'; }
div[data-cs-icon-id='tfo_icons-location']::before{ content: '\f103'; margin: calc((32px / 2) - .5em); font-size: 18px;}
.x-icon-tfo_icons-phone:before { content: '\f104'; }
.cs-fa-tfo_icons-phone:before { content: '\f104'; }
[data-cs-icon-id='tfo_icons-phone'] { font-family: 'FontAwesome'; }
[data-cs-icon-id='tfo_icons-phone'] svg { display: none; }
.cs-icons-inner li[title='tfo_icons-phone']::before{ content: '\f104'; }
div[data-cs-icon-id='tfo_icons-phone']::before{ content: '\f104'; margin: calc((32px / 2) - .5em); font-size: 18px;}
.x-icon-tfo_icons-down-dir:before { content: '\f105'; }
.cs-fa-tfo_icons-down-dir:before { content: '\f105'; }
[data-cs-icon-id='tfo_icons-down-dir'] { font-family: 'FontAwesome'; }
[data-cs-icon-id='tfo_icons-down-dir'] svg { display: none; }
.cs-icons-inner li[title='tfo_icons-down-dir']::before{ content: '\f105'; }
div[data-cs-icon-id='tfo_icons-down-dir']::before{ content: '\f105'; margin: calc((32px / 2) - .5em); font-size: 18px;}
.x-icon-tfo_icons-up-dir:before { content: '\f106'; }
.cs-fa-tfo_icons-up-dir:before { content: '\f106'; }
[data-cs-icon-id='tfo_icons-up-dir'] { font-family: 'FontAwesome'; }
[data-cs-icon-id='tfo_icons-up-dir'] svg { display: none; }
.cs-icons-inner li[title='tfo_icons-up-dir']::before{ content: '\f106'; }
div[data-cs-icon-id='tfo_icons-up-dir']::before{ content: '\f106'; margin: calc((32px / 2) - .5em); font-size: 18px;}
.x-icon-tfo_icons-left-open:before { content: '\f107'; }
.cs-fa-tfo_icons-left-open:before { content: '\f107'; }
[data-cs-icon-id='tfo_icons-left-open'] { font-family: 'FontAwesome'; }
[data-cs-icon-id='tfo_icons-left-open'] svg { display: none; }
.cs-icons-inner li[title='tfo_icons-left-open']::before{ content: '\f107'; }
div[data-cs-icon-id='tfo_icons-left-open']::before{ content: '\f107'; margin: calc((32px / 2) - .5em); font-size: 18px;}
.x-icon-tfo_icons-play:before { content: '\f108'; }
.cs-fa-tfo_icons-play:before { content: '\f108'; }
[data-cs-icon-id='tfo_icons-play'] { font-family: 'FontAwesome'; }
[data-cs-icon-id='tfo_icons-play'] svg { display: none; }
.cs-icons-inner li[title='tfo_icons-play']::before{ content: '\f108'; }
div[data-cs-icon-id='tfo_icons-play']::before{ content: '\f108'; margin: calc((32px / 2) - .5em); font-size: 18px;}
.x-icon-tfo_icons-pause:before { content: '\f109'; }
.cs-fa-tfo_icons-pause:before { content: '\f109'; }
[data-cs-icon-id='tfo_icons-pause'] { font-family: 'FontAwesome'; }
[data-cs-icon-id='tfo_icons-pause'] svg { display: none; }
.cs-icons-inner li[title='tfo_icons-pause']::before{ content: '\f109'; }
div[data-cs-icon-id='tfo_icons-pause']::before{ content: '\f109'; margin: calc((32px / 2) - .5em); font-size: 18px;}
.x-icon-tfo_icons-check:before { content: '\f110'; }
.cs-fa-tfo_icons-check:before { content: '\f110'; }
[data-cs-icon-id='tfo_icons-check'] { font-family: 'FontAwesome'; }
[data-cs-icon-id='tfo_icons-check'] svg { display: none; }
.cs-icons-inner li[title='tfo_icons-check']::before{ content: '\f110'; }
div[data-cs-icon-id='tfo_icons-check']::before{ content: '\f110'; margin: calc((32px / 2) - .5em); font-size: 18px;}
.x-icon-tfo_icons-check-empty:before { content: '\f111'; }
.cs-fa-tfo_icons-check-empty:before { content: '\f111'; }
[data-cs-icon-id='tfo_icons-check-empty'] { font-family: 'FontAwesome'; }
[data-cs-icon-id='tfo_icons-check-empty'] svg { display: none; }
.cs-icons-inner li[title='tfo_icons-check-empty']::before{ content: '\f111'; }
div[data-cs-icon-id='tfo_icons-check-empty']::before{ content: '\f111'; margin: calc((32px / 2) - .5em); font-size: 18px;}
.x-icon-tfo_icons-circle-empty:before { content: '\f112'; }
.cs-fa-tfo_icons-circle-empty:before { content: '\f112'; }
[data-cs-icon-id='tfo_icons-circle-empty'] { font-family: 'FontAwesome'; }
[data-cs-icon-id='tfo_icons-circle-empty'] svg { display: none; }
.cs-icons-inner li[title='tfo_icons-circle-empty']::before{ content: '\f112'; }
div[data-cs-icon-id='tfo_icons-circle-empty']::before{ content: '\f112'; margin: calc((32px / 2) - .5em); font-size: 18px;}
.x-icon-tfo_icons-dot-circled:before { content: '\f113'; }
.cs-fa-tfo_icons-dot-circled:before { content: '\f113'; }
[data-cs-icon-id='tfo_icons-dot-circled'] { font-family: 'FontAwesome'; }
[data-cs-icon-id='tfo_icons-dot-circled'] svg { display: none; }
.cs-icons-inner li[title='tfo_icons-dot-circled']::before{ content: '\f113'; }
div[data-cs-icon-id='tfo_icons-dot-circled']::before{ content: '\f113'; margin: calc((32px / 2) - .5em); font-size: 18px;}
.x-icon-tfo_icons-linkedin:before { content: '\f114'; }
.cs-fa-tfo_icons-linkedin:before { content: '\f114'; }
[data-cs-icon-id='tfo_icons-linkedin'] { font-family: 'FontAwesome'; }
[data-cs-icon-id='tfo_icons-linkedin'] svg { display: none; }
.cs-icons-inner li[title='tfo_icons-linkedin']::before{ content: '\f114'; }
div[data-cs-icon-id='tfo_icons-linkedin']::before{ content: '\f114'; margin: calc((32px / 2) - .5em); font-size: 18px;}
.x-icon-tfo_icons-language:before { content: '\f115'; }
.cs-fa-tfo_icons-language:before { content: '\f115'; }
[data-cs-icon-id='tfo_icons-language'] { font-family: 'FontAwesome'; }
[data-cs-icon-id='tfo_icons-language'] svg { display: none; }
.cs-icons-inner li[title='tfo_icons-language']::before{ content: '\f115'; }
div[data-cs-icon-id='tfo_icons-language']::before{ content: '\f115'; margin: calc((32px / 2) - .5em); font-size: 18px;}
.x-icon-tfo_icons-attach:before { content: '\f116'; }
.cs-fa-tfo_icons-attach:before { content: '\f116'; }
[data-cs-icon-id='tfo_icons-attach'] { font-family: 'FontAwesome'; }
[data-cs-icon-id='tfo_icons-attach'] svg { display: none; }
.cs-icons-inner li[title='tfo_icons-attach']::before{ content: '\f116'; }
div[data-cs-icon-id='tfo_icons-attach']::before{ content: '\f116'; margin: calc((32px / 2) - .5em); font-size: 18px;}
.x-icon-tfo_icons-download:before { content: '\f117'; }
.cs-fa-tfo_icons-download:before { content: '\f117'; }
[data-cs-icon-id='tfo_icons-download'] { font-family: 'FontAwesome'; }
[data-cs-icon-id='tfo_icons-download'] svg { display: none; }
.cs-icons-inner li[title='tfo_icons-download']::before{ content: '\f117'; }
div[data-cs-icon-id='tfo_icons-download']::before{ content: '\f117'; margin: calc((32px / 2) - .5em); font-size: 18px;}


